<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contact Lunge and Learn - Get in touch with us for inquiries, feedback, or support.">
    <title>Contact Us - Lunge and Learn</title>
    <link rel="stylesheet" href="../static/styles/stylesheet.css">
</head>
<body>
    <header>
        <div class="identifier">
            <img src="../static/resources/Lunge and learn Logo.png" width="500px" alt="Lunge and Learn Logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="index">About</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <section id="login">
            <h2>Login to use Lunge and Learn</h2>
            <form action="modelinputhand" method="get">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="paassword" required>
                
                <button type="submit">Login</button>
            </form>
        </section>
    </body>
    <footer>
        <p>&copy; 2025 Blade Trackers. All rights reserved.</p>
        <a href="https://github.com/Mukundks2004">Mukund</a>
        <a href="https://github.com/happyshoelace">Bianca</a>
        <a href="https://github.com/GammaKing2000">Adit</a>
    </footer>
</html>